body {
    font-weight: "Montserrat";
    text-align: center;
}

.big-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

p {
    color: #d3c8c8;
}

.section-heading {
    font-family: "Montserrat";
    font-size: 1.5rem;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* sections */

.coloured-section {
    background-color: #FF4c68;
    color: white;
}

.white-section {
    background-color: white;
}


/* Navigaton Bar*/

.navbar {
    padding-bottom: 5.5rem;
}

.nav-items {
    padding: 0 18px;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.3rem;
    font-family: "montsserat-light";
}


/*  Download Buttons   */

.Download-Button {
    margin: 5% 3% 5% 0;
}


/*  Title Image   */

#title {
    text-align: left;
}

.title {
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    top: 31%;
    right: 23%;
}

@media (max-width:1200px) {
    #title {
        text-align: center;
    }
    .title {
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}


/*  Feature Section  */

#features {
    padding: 7% 15%;
    position: relative;
}

.feature-box {
    padding: 5%;
    text-align: center;
}

.icon {
    color: #ef8172;
}

.icon:hover {
    color: #FF4c68;
}


/*  Testimonial Section  */

#testimonials {
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Carousel */

.carousel-item {
    padding: 7% 15%;
}


/* Pricing */

#pricing {
    padding: 100px 100px 50px;
    text-align: center;
}

.spacing {
    margin-top: 5%;
}


/* Call to Action */

#cta {
    padding: 7% 15%;
}

.Download-Button {
    margin: 5% 3% 5% 0;
}


/* Footer Section  */

#footer {
    padding: 7% 15%;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}